<form id="filterSort" action="<%=table==="origins"?'origins':'/' %>" method="GET"
    class="table-controls flex flex-col gap-3 md:flex-row md:justify-start mb-4">
    <div class="join join-horizontal">
        <input
            id="searchInput"
            type="text"
            name="search"
            placeholder="Search by name..."
            value="<%= query.search || '' %>"
            class="input input-bordered input-primary input-sm w-full sm:w-auto join-item"
        />

        <button type="submit" class="btn btn-sm btn-outline border-primary sm:w-auto join-item">
            Search
        </button>
    </div>

    <div class="join join-horizontal">
        <select
            id="sortBy"
            name="sortby"
            class="select select-primary select-sm w-full sm:w-auto join-item">

            <% if (table === "transformers") { %>
             <option disabled selected value="">Sort by</option>
            <option value="id"<%= query.sortby === 'id' ? 'selected' : '' %>>ID</option>
            <option value="name"<%= query.sortby === 'name' ? 'selected' : '' %>>Name</option>
            <option value="age"<%= query.sortby === 'age' ? 'selected' : '' %>>Age</option>
            <option value="isActive"<%= query.sortby === 'isActive' ? 'selected' : '' %>>Alive/active</option>
            <option value="faction"<%= query.sortby === 'faction' ? 'selected' : '' %>>Faction</option>
            <option value="birthDate"<%= query.sortby === 'birthDate' ? 'selected' : '' %>>Date of birth</option>
            <% } else { %>
            <option disabled selected value="">Sort by</option>
            <option value="id" <%= query.sortby === 'id' ? 'selected' : '' %>>ID</option>
            <option value="title" <%= query.sortby === 'title' ? 'selected' : '' %>>Title</option>
            <option value="type" <%= query.sortby === 'type' ? 'selected' : '' %>>Type</option>
            <option value="releaseYear" <%= query.sortby === 'releaseYear' ? 'selected' : '' %>>Release year</option>
            <option value="director" <%= query.sortby === 'director' ? 'selected' : '' %>>Director</option>
            <option value="studio" <%= query.sortby === 'studio' ? 'selected' : '' %>>Studio</option>
            <% } %>
            
        </select>

        <select
            id="order"
            name="order"
            class="select select-primary select-sm w-full sm:w-auto join-item">

            <option value="asc"<%= query.order === 'asc' ? 'selected' : '' %>>asc ↑</option>
            <option value="desc"<%= query.order === 'desc' ? 'selected' : '' %>>desc ↓</option>
        </select>
    </div>
</form>