<!DOCTYPE html data-bs-theme="dark">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">

    <title><%= title %></title>
</head>
<body>
     <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Faction</th>
                <th>Alive/active</th>
                <th>Date of birth</th>
            </tr>
        </thead>
        <tbody>
        <% transformers.forEach(transformer => { %>
            <tr>
                <th><%= transformer.id %></th>
                <td><%= transformer.name %></td>
                <td><%= transformer.age %></td>
                <td><%= transformer.faction %></td>
                <td><%= transformer.isActive?'Yes':'No'%></td>
                <td><%= transformer.birthDate %></td>
            </tr>
        <% }); %>
     </tbody>
     </table>
</body>
</html>