<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" class="h-full">
<%- include("../partials/head", { title: title }) %>

<body class="min-h-screen p-4 lg:p-6 bg-base-100">
  <div class="container mx-auto max-h-[85vh]">
      <a class="underline decoration-primary inline-block mb-2" href="/">&LeftArrow; Back to homepage</a>

    <div
      class="card bg-base-200 border border-base-300 shadow-2xl grid grid-cols-1 lg:grid-cols-[1fr_2fr] overflow-hidden h-full">
      <figure class="relative min-w-0 overflow-hidden min-h-80 lg:min-h-[85vh] lg:h-[85vh]">
        <img
          src="<%= transformer.imageUrl %>"
          alt="<%= transformer.name %>"
          class="block  h-full object-cover object-top" />
        <div class="absolute inset-0 bg-linear-to-t from-base-300 via-transparent to-transparent"></div>
        <div class="absolute bottom-4 left-4 right-4">
          <div
            class="badge badge-neutral badge-outline text-white border-white h-fit whitespace-normal wrap-break-word max-w-full py-3">
            <%= transformer.imageCredit %>
          </div>
        </div>
      </figure>
      <div class="card-body p-6 lg:p-8 overflow-y-auto min-w-0">
        <div class="mb-6">
          <h2 class="text-4xl lg:text-5xl font-black leading-none">
            <%= transformer.name %>
          </h2>
          <p class="text-base lg:text-lg text-base-content/70 mt-3">
            Supreme commander of the Autobots and protector of Earth.
            Known for unmatched leadership, tactical genius, and honor.
          </p>
        </div>
        <h3 class="text-xl font-bold mb-2">
          Info
        </h3>
        <div class="stats stats-vertical xl:stats-horizontal bg-base-300 shadow mb-6">
          <div class="stat">
            <div class="stat-title">ID</div>
            <div class="stat-value text-primary text-2xl">
              <%= transformer.id %>
            </div>
          </div>
          <div class="stat">
            <div class="stat-title">Age</div>
            <div class="stat-value text-secondary text-2xl">
              <%= transformer.age %>
            </div>
            <div class="stat-desc">Cybertronian years</div>
          </div>
          <div class="stat">
            <div class="stat-title">Alive/Active</div>
            <div class="stat-value text-success text-2xl">
              <% let active; if (transformer.isActive) { active="Yes" ; } else { active="No" ; } %>
                <%= active %>
            </div>
          </div>
          <div class="stat">
            <div class="stat-title">Faction</div>
            <div class="stat-value text-warning text-2xl wrap-break-word">
              <%= transformer.faction %>
            </div>
          </div>
        </div>
        <div class="mb-6">
          <h3 class="text-xl font-bold mb-3">
            Abilities
          </h3>
          <div class="flex flex-wrap gap-3">
            <% transformer.abilities.forEach(ability=> { %>
              <div class="badge badge-primary badge-lg py-4">
                <%= ability %>
              </div>
              <% }) %>
          </div>
        </div>
        <div>
          <div class="flex gap-x-2 items-center justify-between">
            <h3 class="text-xl font-bold mb-3">
            Origin
          </h3>
            <a class="btn btn-info" href="/origin/<%= transformer.origin.id %>"><i class="fa-solid fa-clapperboard"></i>View more details</a>
          </div>
          <div class="stats stats-vertical xl:stats-horizontal bg-base-300 shadow max-w-full w-full">
            <div class="stat">
              <div class="stat-title">Title</div>
              <div class="stat-value text-xl wrap-break-word">
                <%= transformer.origin.title %>
              </div>
            </div>
            <div class="stat">
              <div class="stat-title">Type</div>
              <div class="stat-value text-xl wrap-break-word">
                <%= transformer.origin.type %>
              </div>
            </div>
            <div class="stat">
              <div class="stat-title">Release Year</div>
              <div class="stat-value text-xl wrap-break-word">
                <%= transformer.origin.releaseYear %>
              </div>
            </div>
          </div>
        </div>
        <div class="stats stats-vertical xl:stats-horizontal bg-base-300 shadow max-w-full w-full">
            <div class="stat">
              <div class="stat-title">Producer</div>
              <div class="stat-value text-xl wrap-break-word">
                <%= transformer.origin.director %>
              </div>
            </div>
            <div class="stat">
              <div class="stat-title">Studio</div>
              <div class="stat-value text-xl wrap-break-word">
                <%= transformer.origin.studio %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>